.layout-container {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content content"
    "menu footer footer";
  grid-template-rows: 60px 1fr 30px;
  grid-template-columns: 140px 1fr 1fr;
  min-height: 100vh;
  position: relative;
}

.layout-header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-menu {
  grid-area: menu;
  padding: 16px;
}
.layout-main {
  grid-area: content;
}
.layout-footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-header,
.layout-menu,
.layout-main,
.layout-footer {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.layout-header {
  background-color: #0d2839;
  color: aliceblue;
  position: sticky;
  top: 0;
  z-index: 2;
}
.layout-menu {
  background-color: #146292;
  color: aliceblue;
  position: sticky;
  top: 0;
  z-index: 2;
  max-height: 100vh;
}
.layout-main {
  background-color: #ffffff;
}
.layout-footer {
  background-color: #818181;
}
