.page {
  padding: 16px;
}

.page-filters {
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 24px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.page-bottom {
  background-color: #94cd7f;
  padding: 16px;
  border-radius: 6px;
  margin-top: 24px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.list-item {
  box-sizing: border-box;
  display: flex;
  max-width: 200px;
  min-width: 200px;
  max-height: 300px;
  min-height: 300px;
  flex-flow: column;
  gap: 16px;
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 6px;
  box-sizing: border-box;
}

.list-item-title {
  margin: 0;
}

.list-item-thumbnail {
  display: block;
  max-width: 100%;
  background-color: #ffffff;
  aspect-ratio: 1 / 1;
}

.list-item-description {
  margin: 0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
