.list-item {
  box-sizing: border-box;
  display: flex;
  min-height: 300px;
  width: 200px;
  height: 300px;
  flex-flow: column;
  gap: 16px;
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 6px;
  box-sizing: border-box;
}

.list-item-title {
  margin: 0;
}

.list-item-thumbnail {
  display: block;
  max-width: 100%;
  background-color: #ffffff;
  aspect-ratio: 1 / 1;
}

.list-item-description {
  margin: 0;
  font-size: 12px;
}
