/* filters */
.filters {
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 24px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* list */
.list {
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, 216px);
  justify-content: space-around;
  margin: 0 auto;
  padding: 4px;
  width: 100%;
}

.list-item {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-flow: column;
  gap: 16px;
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 6px;
}

.list-item-title {
  margin: 0;
}

.list-item-thumbnail {
  display: block;
  max-width: 100%;
  background-color: #ffffff;
}

.list-item-description {
  margin: 0;
}
