.page-container {
  padding: 24px;
}
.page-list {
  background-color: #feffdf;
}

.page-filters {
  background-color: #e0e0e0;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 24px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.page-bottom {
  background-color: #94cd7f;
  padding: 16px;
  border-radius: 6px;
  margin-top: 24px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
